<footer>
  <div class="container">
  <p>Protected Purchase with softicode design </p>
  <p>&copy; 2024 All Rights Reserved – <a href="https://github.com/Soft-icode" target="blank">softICode</a> & support me by <a href="https://buymeacoffee.com/softdev" target="blank">Buying me a coffee</a></p>
  </div>
</footer>
  